body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.loading {
  color: #ccc;
}

header, header nav {
  width: 100%;
}

nav {
  border: 2px solid #3f4340 !important;
  border-radius: 0px !important;
}

.navbar-brand span {
  display: inline-block;
  font-size: 26px !important;
  color: #491e19 !important;
}

.navbar-brand img {
  height: 50px;
  display: inline-block;
}