<!-- MENU -->
<div class="container">
    <ul>
      <% for(var i = 0; i<menuitems.length; i++) { %>
      <li><a href="<%= links[i] %>"><%= menuitems[i] %></a>
      <% } %>
    </ul>
</div>
<!-- MENU -->
