<!-- HEADER -->
<div class="container">
    <nav class="navbar navbar-default" role="navigation" align="center">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">LastUnion GAME</a>
            </div>
            <div class="navbar-default">
                <ul class="nav navbar-nav">
                  <% if (loggedin) { %>
                    <p class="nav navbar-nav navbar-text">You scope is: 2517</p>
                  <% } %>

                    <li><a href="#">Top gamers</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if (loggedin) { %>
                      <li><a href="#">Sign IN</a></li>
                      <p class="nav navbar-nav navbar-text">or</p>
                      <li><a href="#">Sign UP</a></li>
                    <% } else { %>
                      <li><a href="#">Log out</a></li>
                    <% } %>
                </ul>
            </div>
         </div>
    </nav>
</div>
<!-- HEADER -->
