<!-- HEADER -->
<header class="header">
    <div class="header__container">
        <a class="logo" href="/">
            <img class="logo__img" src="/img/logo.png" alt="Logo" />
            <span class="logo__text">LastUnion GAME</span>
        </a>
        <% if (loggedin) { %>
        <span class="header__text" id="header__scores">Your score is: <%= score %></span>
        <% } %>
        <ul class="header__menu menu">
            <% if (loggedin) { %>
            <li class="menu__item menu__item_inline">
                <a class="menu__link" href="/logout">Log out</a>
            </li>
            <% } else { %>
            <li class="menu__item menu__item_inline">
                <a class="menu__link" href="/signin">Sign IN</a>
            </li>
            <p class="menu__separator">or</p>
            <li class="menu__item menu__item_inline">
                <a class="menu__link" href="/signup">Sign UP</a>
            </li>
            <% } %>
        </ul>
    </div>
</header>
<!-- HEADER -->
