<!-- RULES -->
<div class="block block_center">
    <div class="block__title"><b>RULES:</b></div>
    <div class="text">
            This game is pretty easy even for you. 
            All you have to do is press <i class="key">W</i> 
            to jump over pits and obstacles 
            and sometimes press <i class="key">S</i> 
            to transform into flatten turtle and not headless guy when obstacle is in the air.
    </div>
</div>
<div class="block_wide block_center">
    <div class="block__title">
        <div class="text"><b>Oh? Still didn't get it? Well, you are in trouble... Look at the detailed plan:</b></div>
    </div>
    <ul class="list">
        <li class="list__item list__item_inline">
            <img class="list__img" src="/img/r1.png">
            <span class="text">
                This one is not your friend. If you met it - jump over it. Press W to jump.
                If you wont this guy will push you to monster.
            </span>  
        </li>
        <li class="list__item list__item_inline">
            <img class="list__img" src="/img/r2.png">
            <span class="text">
                This one is not your friend too. If you met it - bend down. Press S to bend.
                If you wont - you will became headless guy. Oh! When you bended - you are so slow!
            </span>  
        </li>
        <li class="list__item list__item_inline">
            <img class="list__img" src="/img/r3.png">
            <span class="text">
                This one is good! If you met it - collect it!
                If you wont - you are just not very smart.
            </span>  
        </li>
    </ul>
</div>
<!-- RULES -->
              